<div class="row">
    <div class="col-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="div-wimed-special">
                <p class="title-special">Actualizar la contraseña</p>
                <p>Asegúrese de que su cuenta utilice una contraseña larga y aleatoria para mantenerse segura.</p>
            </div>
        </div>
        
    </div>
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <p>{{errorMessage}}</p>
                <form  [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                   <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="current_password">Contraseña actual:</label>
                                <input type="password" class="form-control" id="current_password" placeholder="Contraseña actual" formControlName="current_password">
                            </div>
                            @if (passwordForm.controls['current_password'].touched && passwordForm.controls['current_password'].invalid  || passwordForm.controls['current_password'].dirty) {
                                @if (passwordForm.controls['current_password'].errors?.['required']) {
                                    <p class="text-danger">La contraseña actual es requerida</p>
                                }
                            }
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="new_password">Nueva contraseña:</label>
                                <input type="password" class="form-control" id="new_password" placeholder="Nueva contraseña" formControlName="new_password">
                            </div>
                            @if (passwordForm.controls['new_password'].touched && passwordForm.controls['new_password'].invalid  || passwordForm.controls['new_password'].dirty) {
                                @if (passwordForm.controls['new_password'].errors?.['required']) {
                                    <p class="text-danger">La nueva contraseña es requerida y minimo debe llevar 3 caracteres.</p>
                                }
                            }
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="confirm_password">Confirmar contraseña:</label>
                                <input type="password" class="form-control" id="confirm_password" placeholder="Confirmar contraseña" formControlName="confirm_password">
                            </div>
                            @if (passwordForm.controls['confirm_password'].touched && passwordForm.controls['confirm_password'].invalid  || passwordForm.controls['confirm_password'].dirty) {
                                @if (passwordForm.controls['confirm_password'].errors?.['required']) {
                                    <p class="text-danger">La confirmación de la nueva contraseña es requerida</p>
                                }
                            }
                        </div>
                        
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-subm-special" [disabled]="passwordForm.invalid">
                                    Actualizar
                                </button>
                            </div>
                        </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>