<div>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mt-3 mb-2">
                    <div class="col-sm-6">
                        <h1>Exportables de excel</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                            <a class="a-text-jc" routerLink="/admin/dashboard">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active">Exportables de excel</li>
                        </ol>
                    </div>
                    <div class="mt-2 mb-3 hr-sp-js">
                    </div>
                </div>
            </div>
        </section>
      
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default color-palette-box">
                    <div class="card-body">
                        <button class="btn btn-success" (click)="downloadExcel()">Descargar excel de prueba</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer />
  </div>